<!--
    Dashboard page: the main menu for a user that is connected to a
    Google account. Such users can see their created schedules and 
    templates and create new ones

    The Data Minors:
    - Andrew Whitman
    - Dean Orenstein
    - Gage Aykroyd
    - Mary Ashley Vance
-->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Schedule-4-Me | My Dashboard</title>
    <meta charset="utf-8">
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap_css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
</head>
<body>
    {% block pagecontent %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap_js/bootstrap.min.js' %}"></script>

    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/dashboard.js' %}"></script>
    {% endblock %}
</body>
</html>